<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades">
            <i class="bi bi-hdd"></i>
            <h3>Backend</h3>
            <p>C#, .NET Core, Entity Framework, WebAPI, ASP.NET MVC</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, optio!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, adipisci.</p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </div>
         <div class="col col-3 bg-white habilidades">
            <i class="bi bi-hdd"></i>
            <h3>Frontend</h3>
            <p>C#, .NET Core, Entity Framework, WebAPI, ASP.NET MVC</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, optio!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, adipisci.</p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
                        <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </div>
    </div>
</div>